<div class="header">
  <div class="headerContent">
    <a href="#" title="Reload page"><h1>UDEV</h1></a> 
    <div class="navBar">
      <a routerLink="/about">
        <h3>About me</h3>
      </a>
      <a routerLink="/portfolio">
        <h3>Portfolio</h3>
      </a>
      <a routerLink="/skills">
        <h3>Skills</h3>
      </a>
      <a routerLink="/contact">
        <h3>Contact me</h3>
      </a>
    </div>
    <div class="hamMenu">
        <i class="fas fa-bars fa-4x"></i>
    </div>
  </div>
</div>