.header{
    background-color: white;
    border: 1px solid black;
    height: 10%;
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: grid;
    align-content: center;
}
.headerContent{
    display: grid;
    grid-template-columns: auto auto;
    a{
        text-decoration: none;
        h1{
            color: black;
            margin-left: 5%;
            font-weight: 900;
            font-style: italic;
            text-shadow: 2px 2px red;
    }
  }
.navBar{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-content: center;
            a{
                color: black;
                margin-left: 2%;
                text-decoration: none;
                text-align: center;
                padding: 4px 0;
            }
            a:hover{
                color: white;
                background-color: #333;
            }
        }
        .hamMenu{
            display: none;
            i{
                cursor: pointer;
                float: right;
                position: relative;
                margin-right: 10%;
            }
          
          
        }
        
}

.hamMenuOpen{
    display: none;
    background-color:silver;
    height: 1400px;
    opacity: 0.9;
    position: relative;
    z-index: 1001;
    width: 100%;
   a{
    position: relative;
    top: 5%;
    text-decoration: none;
      
   }
   h3{
       margin-top: 10%;
       color: white;
   }
}
.navBarHamMenu{
    background-color:black;
    height: 400px;
    margin: auto;
    opacity: 1;
    position: relative;
    text-align: center;
    top: 10%;
    width: 70%;
    
}
@media only screen and (max-width:700px){
    .headerContent{
        .navBar{
            display: none;
        }
        .hamMenu{
            display: block;
            i{
                color: black;
            }
        }

    }


}
