.footer{
background-color: rgb(43, 43, 43);
height: 150px;
text-align: center;
position: relative;
width: 100%;
p{
  color: #bbb;
  line-height: 50px;
}
h1{
  color: white;
  font-weight: 900;
  font-style: italic;
}
}
