<div class="about">
    <div class="container-fluid aboutMe-1">
        <h1><strong>Uroš</strong></h1>
        <h1><strong>Marinković</strong></h1>
        <h4><i>All about me</i></h4>
    </div>
    <div class="container-fluid aboutMe-2">
      
        <div class="container imgSkills">
            <img src="../../assets/icons/HTML_Logo.png" alt="HTML ICON" class="htmlLogo">
            <img src="../../assets/icons/css.png" alt="CSS ICON" class="cssLogo">
            <img src="../../assets/icons/jsicon.png" alt="JS ICON" class="jsLogo">
            <img src="../../assets/icons/angular.png" alt="ANGULAR ICON" class="angularLogo">
            <!-- <img src="./assets/icons/HTML_Logo.png" alt="HTML ICON" class="htmlLogo">
            <img src="./assets/icons/css.png" alt="CSS ICON" class="cssLogo">
            <img src="./assets/icons/jsicon.png" alt="JS ICON" class="jsLogo">
            <img src="./assets/icons/angular.png" alt="ANGULAR ICON" class="angularLogo"> -->
        </div>
        <div class="container paragraphCont">
            <h1><strong>I'm Web Developer & Bachelor of Economics</strong></h1>
            <div class="row">
                <div class="col">
                    <p>Born on 17th March 1992 in Vršac,Serbia.Currently living in Belgrade.
                        I was studying on Faculty of Technology and Metallurgy for 3 years, before i move to new
                        college for
                        Economics,FACULTY OF ECONOMICS, FINANCE AND ADMINISTRATION, FEFA, finished bachelor degree in
                        2018.
                        Along with i'm finshed Front End Developer Specialization, at Code Center for IT Specialization
                        in
                        Belgrade.
                    </p>
                </div>
                <div class="col">
                    <p>In 2015 I started volunteer in DDOR, NOVI SAD as financial controller, next volunteer was in
                        2016 in PULSE OFFICE D.O.O.
                    </p>
                </div>
            </div>
            <a href="https://ufile.io/t6sg1" target="_blank" class="buttonCV">CV DOWNLOAD</a>
        </div>
    </div>
    <div class="container-fluid aboutMe-3-10x">
        <h1><strong>FOLLOW ME & CONTACT ME</strong></h1>
        <div class="container socialMedia-10x">
            <a href="https://www.facebook.com/uros29" target="_blank"><i class="fab fa-facebook-square fa-10x"></i></a>
            <a href="https://www.instagram.com/urosuvt/?hl=hr" target="_blank"><i class="fab fa-instagram fa-10x"></i></a>
            <a href="https://github.com/uros2929" target="_blank"><i class="fab fa-github fa-10x"></i></a>
            <a href="https://www.linkedin.com/in/uro%C5%A1-marinkovi%C4%87-6a3a1816a/" target="_blank"><i class="fab fa-linkedin fa-10x"></i></a>
            <a href="mailto:marinko29@live.com"><i class="fas fa-envelope fa-10x"></i></a>
        </div>
    </div>
    <div class="container-fluid aboutMe-3-6x">
        <h1><strong>FOLLOW ME & CONTACT ME</strong></h1>
        <div class="container socialMedia-6x">
            <a href="https://www.facebook.com/uros29" target="_blank"><i class="fab fa-facebook-square fa-6x"></i></a>
            <a href="https://www.instagram.com/urosuvt/?hl=hr" target="_blank"><i class="fab fa-instagram fa-6x"></i></a>
            <a href="https://github.com/uros2929" target="_blank"><i class="fab fa-github fa-6x"></i></a>
            <a href="https://www.linkedin.com/in/uro%C5%A1-marinkovi%C4%87-6a3a1816a/" target="_blank"><i class="fab fa-linkedin fa-6x"></i></a>
            <a href="mailto:marinko29@live.com"><i class="fas fa-envelope fa-6x"></i></a>
        </div>
    </div>
    <app-footer></app-footer>
</div>