.about{
    background-color: rgb(63,63,63);
    height: inherit;
    position: absolute;
    top: 10%;
    width: 100%;
    animation: aboutAnimation 0.9s;
}
.aboutMe-1{
    background-image: url("../../assets/images/4K-Black-Pics.jpg");
    background-size: cover;
    color: white;
    height: 450px;
    position: relative;
    text-align: center;
    h1,h4{
        font-style: italic;
        position: relative;
        top: 30%;
        transform: translateY(-30%);
    }
}

.aboutMe-2{
    background-color:white;
    min-height: 810px;
    position: relative;
    text-align: center;
    p{
      text-align: justify;
    }
    a{
        border: 2px solid black;
        color: black;
        float: left;
        position: relative;
        padding: 12px 16px;
        text-decoration: none;
        transition: all 0.6s;
    }
    a:hover{
        background-color: black;
        color: white;
    }
    // .imageCont{
    //     border: 1px solid black;
    //     float: left;
    //     height: 400px;
    //     position: relative;
    //     width: 30%;
    // }
    .paragraphCont{
        margin-top: 3%;
        position: relative;
        float: right;
    
    }
}
.aboutMe-3-10x{
    background-color: #eee;
    height: 400px;
    position: relative;
    text-align: center;
    .socialMedia-10x{
        margin-top: 3%;
        i{
            color: black;
            margin-left: 2%;
        }
        .fa-facebook-square:hover,.fa-linkedin:hover{
            color: blue;
        }
        .fa-instagram:hover,.fa-envelope:hover{
            color: rgb(205, 72 , 107)
        }
        .fa-github:hover{
            color: rgb(138, 58, 185)
        }
    }
}
.aboutMe-3-6x{
    display: none;
    background-color: #eee;
    height: 400px;
    position: relative;
    text-align: center;
    .socialMedia-6x{
        margin-top: 3%;
        i{
            color: black;
            margin-left: 2%;
        }
        .fa-facebook-square:hover,.fa-linkedin:hover{
            color: blue;
        }
        .fa-instagram:hover,.fa-envelope:hover{
            color: rgb(205, 72 , 107)
        }
        .fa-github:hover{
            color: rgb(138, 58, 185)
        }
    }
}



 @keyframes aboutAnimation{
     0%{
        transform: scaleY(0.1)
        }
     100%{
        transform: scaleY(1)
        }
    }

@media only screen and (max-width:1000px){
.aboutMe-3-10x{
    display: none;
}
.aboutMe-3-6x{
    display: block;
}

}
@media only screen and (max-width:550px){
    .aboutMe-3-6x{
        i{
            margin-left: 5%;
        }
    }
}