.contact{
    height: 800px;
    position: absolute;
    text-align: center;
    top: 5%;
    z-index: 1;
    width: 100%;
    animation: contactAnimation 0.7s;
}
.contactDiv{
    border-bottom: 1px solid black;
    height: 800px;
    position: relative;
    top: 10%;
}
.socialMedia-6x{
    i{
        color: black;
        margin-left: 2%;
    }
    .fa-facebook-square:hover{
        color: blue;
        animation: spin .5s linear;
    }
    .fa-instagram:hover,.fa-envelope:hover{
        color: rgb(205, 72 , 107);
        animation: spin .5s linear;
    }
    
}

@keyframes contactAnimation {
    0%{
        letter-spacing: -20px;
        filter: blur(12px)
    }
    100%{
        filter: blur(0)
    }
}

@keyframes spin{
0%{
    transform: rotate(0)
}
100%{
    transform: rotate(360deg)
}
}