<div class="container-fluid contact">
  <div class="container-fluid contactDiv">
    <h1>CONTACT ME</h1>
    <p>The best way would be email.</p>
    <h3>Feel free to contact me anytime.</h3>
    <div class="container socialMedia-6x">
      <a href="mailto:marinko29@live.com"><i class="fas fa-envelope fa-6x"></i></a>
      <a href="https://www.facebook.com/uros29" target="_blank"><i class="fab fa-facebook-square fa-6x"></i></a>
      <a href="https://www.instagram.com/urosuvt/?hl=hr" target="_blank"><i class="fab fa-instagram fa-6x"></i></a>
    </div>
  </div>
  <app-footer></app-footer>
</div>