<div class="skills">
  <h1>Some of My Skills </h1>
  <div class="skillMeter">
    <div class="skillScaleHTML">
      <h3>HTML/CSS</h3>
      <h4>95%</h4>
      <div class="scalePerHTML" id="scalePerHTML"></div>
    </div>
    <div class="skillScaleJS">
      <h3>JavaScript</h3>
      <h4>90%</h4>
      <div class="scalePerJS" id="scalePerJS"></div>
    </div>
    <div class="skillScaleAngular">
      <h3>Angular4+</h3>
      <h4>70%</h4>
      <div class="scalePerAngular" id="scalePerAngular"></div>
    </div>
    <div class="skillScaleBootstrap">
      <h3>Bootstrap</h3>
      <h4>85%</h4>
      <div class="scalePerBootstrap" id="scalePerBootstrap"></div>
    </div>
    <div class="skillScaleJQuery">
      <h3>JQuery</h3>
      <h4>55%</h4>
      <div class="skillPerJQuery" id="skillPerJQuery"></div>
    </div>
  </div>
</div>