.skills{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.skillsLogo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: absolute;
  top: 15%;
  width: 80%;
  div {
    margin: 25px;
  }
  .htmlLogo {
    height: 200px;
    width: 200px;
    background-image: url('/assets/images/html.png');
    background-size: cover;
  }
  .cssLogo {
    height: 200px;
    width: 200px;
    background-image: url('/assets/images/css.png');
    background-size: cover;
  }
  .jsLogo {
    height: 200px;
    width: 200px;
    background-image: url('/assets/images/js.jpg');
    background-size: cover;
  }
  .angularLogo {
    height: 200px;
    width: 200px;
    background-image: url('/assets/images/angular.png');
    background-size: cover;
  }
  .ionicLogo {
    height: 200px;
    width: 200px;
    background-image: url('/assets/images/ionic.png');
    background-size: cover;
  }
  .mySqlLogo {
    height: 200px;
    width: 200px;
    background-image: url('/assets/images/mySql.png');
    background-size: cover;
  }
  .phpLogo {
    height: 200px;
    width: 200px;
    background-image: url('/assets/images/php.png');
    background-size: cover;
  }
}
@media only screen and (max-width:570px) {
  .htmlLogo, .phpLogo, .mySqlLogo, .ionicLogo, .angularLogo, .jsLogo, .cssLogo {
    height: 150px;
  }
}
