<div class="container-fluid portfolio">
  <div class="card portfolioCard" *ngFor="let data of portfolioAry">
    <div class="{{data.imgClass}}" (click)='imgsModalShow($event)'></div>
    <div class="card-body">
      <h4 class="card-title">{{data.title}}</h4>
      <p class="card-text">{{data.text}}</p>
      <a href="{{data.gitLink}}" target="_blank" class="btn btn-primary">Go to
        repository</a><br>
      <a *ngIf="data.demoLink !== ''" href="{{data.demoLink}}" target="_blank" class="btn btn-success tryDemoButton">Try
        demo version</a>
    </div>
  </div>
</div>
<div class="container modalShowImg" id="modalShowImg">
  <div class="closeModalButton" (click)="closeModalShowImgs()">X</div>
  <div class="container showImg" id="showImg">
    <div class="prevImg" id="prevImg">&#8249;</div>
    <div class="nextImg" id="nextImg">&#8250;</div>
  </div>
</div>
