<div class="container-fluid portfolio">
  <div class="card portfolioCard">
    <div class="card-img-topOSPangular" (click)='imgsModalShow($event)'></div>
    <!-- <img src="../../assets/images/OSPangular.png" class="card-img-top" alt="IMG"> -->
     <div class="card-body">
      <h3 class="card-title">OSPbyUM</h3>
      <p class="card-text">Small aplication for Accounting, application written in angular4+.</p>
      <a href="https://github.com/uros2929/ospbyum-angular2" target="_blank" class="btn btn-primary">Go to repository</a><br>
      <a href="https://uros2929.github.io/ospbyum-angular2/" target="_blank" class="btn btn-success tryDemoButton">Try
        demo version</a>
    </div>
  </div>
  <div class="card portfolioCard">
      <div class="card-img-topOSPelectron1" (click)='imgsModalShow($event)'></div>
    <!-- <img src="../../assets/images/OSPelectron1.png" class="card-img-top" alt="IMG"> -->
    <div class="card-body">
      <h3 class="card-title">OSPbyUM2</h3>
      <p class="card-text">Small aplication for Accounting, application written with JavaScript, HTML, CSS in
        Electronjs.Electron is used to build cross platform desktop apps with JavaScript, HTML, and CSS </p>
      <a href="https://github.com/uros2929/knjigovodstvo-electron" target="_blank" class="btn btn-primary">Go to
        repository</a>
    </div>
  </div>
  <div class="card portfolioCard">
      <div class="card-img-topTypingSpeed" (click)='imgsModalShow($event)'></div>
    <!-- <img src="../../assets/images/typingSpeed.png" class="card-img-top" alt="IMG"> -->
    <div class="card-body">
      <h3 class="card-title">TypingSpeed app</h3>
      <p class="card-text">Website that provides online typing test for trening purpose.You can choose language of text
        and type it as quickly and accureately as possible until the test time is up</p>
      <a href="https://github.com/uros2929/typing-speed-test" target="_blank" class="btn btn-primary">Go to repository</a><br>
      <a href="https://uros2929.github.io/typing-speed-test/" target="_blank" class="btn btn-success tryDemoButton">Try
        demo version</a>
    </div>
  </div>
  <div class="card portfolioCard">
      <div class="card-img-topMines" (click)='imgsModalShow($event)'></div>
    <!-- <img src="../../assets/images/mines.png" class="card-img-top" alt="IMG"> -->
    <div class="card-body">
      <h3 class="card-title">Minesweeper game</h3>
      <p class="card-text">Minesweeper is a single-player puzzle video game. The objective of the game is to clear a
        rectangular board containing hidden "mines" or bombs without detonating any of them, with help from clues about
        the number of neighboring mines in each field.</p>
      <a href="https://github.com/uros2929/minesweeper-game" target="_blank" class="btn btn-primary">Go to repository</a><br>
      <a href="https://uros2929.github.io/minesweeper-game/" target="_blank" class="btn btn-success tryDemoButton">Try
        demo version</a>
    </div>
  </div>
  <div class="card portfolioCard">
      <div class="card-img-topXO" (click)='imgsModalShow($event)'></div>
    <!-- <img src="../../assets/images/XO.png" class="card-img-top" alt="IMG"> -->
    <div class="card-body">
      <h3 class="card-title">Tic-Tac-Toe game</h3>
      <p class="card-text">Game for two players, X and O, who take turns marking the spaces in a 3×3 grid. The player
        who succeeds in placing three of their marks in a horizontal, vertical, or diagonal row wins the game.</p>
      <a href="https://github.com/uros2929/tic-tac-toe-angular-bootstrap" target="_blank" class="btn btn-primary">Go to
        repository</a><br>
      <a href="https://uros2929.github.io/tic-tac-toe-angular-bootstrap/main" target="_blank" class="btn btn-success tryDemoButton">Try
        demo version</a>
    </div>
  </div>
  <div class="card portfolioCard">
      <div class="card-img-topCaffe" (click)='imgsModalShow($event)'></div>
    <!-- <img src="../../assets/images/caffe.png" class="card-img-top" alt="IMG"> -->
    <div class="card-body">
      <h3 class="card-title">CaffeApp</h3>
      <p class="card-text">Small restaurant/caffe table booking system.Helping restaurant/caffe to get more
        reservations online, increase guest capacity, </p>
      <a href="https://github.com/uros2929/caffe-website-angular-bootstrap" class="btn btn-primary">Go to repository</a><br>
      <a href="https://uros2929.github.io/caffe-website-angular-bootstrap/main" target="_blank" class="btn btn-success tryDemoButton">Try
        demo version</a>
    </div>
  </div>
  <div class="card portfolioCard">
      <div class="card-img-topGitAcc" (click)='imgsModalShow($event)'></div>
    <!-- <img src="../../assets/images/GITacc.png" class="card-img-top" alt="IMG"> -->
    <div class="card-body">
      <h3 class="card-title">GitHub Acount Info</h3>
      <p class="card-text">Type your GitHub username and fast get some of acount informations.</p>
      <a href="https://github.com/uros2929/githubAccInfo" class="btn btn-primary">Go to repository</a><br>
      <a href="https://uros2929.github.io/githubAccInfo/" target="_blank" class="btn btn-success tryDemoButton">Try
        demo version</a>
    </div>
  </div>
  <div class="card portfolioCard">
    <div class="card-img-topUdevRestaurant" (click)='imgsModalShow($event)'></div>
  <!-- <img src="../../assets/images/GITacc.png" class="card-img-top" alt="IMG"> -->
  <div class="card-body">
    <h3 class="card-title">UDEV restaurant</h3>
    <p class="card-text">Example of website for restaurant </p>
    <a href="https://github.com/uros2929/restaurant-UDEV" class="btn btn-primary">Go to repository</a><br>
    <a href="https://uros2929.github.io/restaurant-UDEV/" target="_blank" class="btn btn-success tryDemoButton">Try
      demo version</a>
  </div>
</div>
</div>
<div class="container modalShowImg" id="modalShowImg">
    <div class="closeModalButton" (click)="closeModalShowImgs()">X</div>
    <div class="container showImg" id="showImg">
      <div class="prevImg" id="prevImg">&#8249;</div>
      <div class="nextImg" id="nextImg">&#8250;</div>
    </div>
  </div>