.portfolio{
    animation: portfolioAnimation 0.6s;
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 800px;
    position: absolute;
    text-align: center;
    top: 10%;
    z-index: 1;
    width: 100%;
   .portfolioCard{
       margin-top: 5%;
       height: 550px;
       width: 350px;
       .tryDemoButton{
           margin-top: 1%;
       }
   }
}
.card-img-topOSPangular{
    background-image: url('../../assets/images/OSPangular.png');
    background-size: cover;
    height: 200px;
}
.card-img-topOSPelectron1{
    background-image: url('../../assets/images/OSPelectron1.png');
    background-size: cover;
    height: 200px;
}
.card-img-topTypingSpeed{
    background-image: url('../../assets/images/typingSpeed.png');
    background-size: cover;
    height: 200px;
}
.card-img-topMines{
    background-image: url('../../assets/images/mines.png');
    background-size: cover;
    height: 200px; 
}
.card-img-topXO{
    background-image: url('../../assets/images/XO.png');
    background-size: cover;
    height: 200px; 
}
.card-img-topCaffe{
    background-image: url('../../assets/images/caffe.png');
    background-size: cover;
    height: 200px; 
}
.card-img-topGitAcc{
    background-image: url('../../assets/images/GITacc.png');
    background-size: cover;
    height: 200px;  
}
.card-img-topUdevRestaurant{
    background-image: url('../../assets/images/UDEVrestaurant.png');
    background-size: cover;
    height: 200px;   
}
.card-img-topUDEVshop{
    background-image: url('../../assets/images/UDEVshop.png');
    background-size: cover;
    height: 200px;    
}
.card-img-topOSPangular:hover,.card-img-topOSPelectron1:hover,.card-img-topTypingSpeed:hover,.card-img-topMines:hover,.card-img-topXO:hover,.card-img-topCaffe:hover,.card-img-topGitAcc:hover,.card-img-topUdevRestaurant:hover,.card-img-topUDEVshop:hover{
    cursor: pointer;
    transform: scale(1.2)
}

.modalShowImg{
    background-color: white;
    display: none;
    height: 480px;
    position: fixed;
    top: 30%;
    left: 15%;
    z-index: 2;
}
.closeModalButton{
    cursor: pointer;
    float: right;
    font-size: 24px;
    margin-right: 2%;
    position: relative;
}
.closeModalButton:hover{
transform: scale(1.2)
}
.showImg{
    background-size:     contain;                   
    background-repeat:   no-repeat;
    background-position: center center; 
    height: 100%;
    width: 100%;
}
.prevImg{
    align-items: center;
    background-color: white;
    color: black;
    cursor: pointer;
    display: flex;
    font-size: 50px;
    height: 500px;
    position: relative;
    float: left;
    width: 10%;
}
.nextImg{
    align-items: center;
    color: black;
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    font-size: 50px;
    height: 500px;
    position: relative;
    float: right;
    width: 10%;
}


@keyframes portfolioAnimation{
    0%{
        filter: blur(20px)
    }
    100%{
        filter: blur(0)
    }

}

@media only screen and(max-width:1250px){
    .portfolio{
        grid-template-columns: auto auto auto;
}
}
@media only screen and(max-width:940px){
    .portfolio{
        grid-template-columns: auto auto;
    }
    }
@media only screen and(max-width:636px){
    .portfolio{
        grid-template-columns: auto;
        .portfolioCard{
            margin: 2% auto;
            }
        }
        }