.portfolio{
    animation: portfolioAnimation 0.6s;
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 800px;
    position: absolute;
    text-align: center;
    top: 10%;
    z-index: 1;
    width: 100%;
   .portfolioCard{
       margin-top: 5%;
       height: 550px;
       width: 350px;
       .tryDemoButton{
           margin-top: 1%;
       }
   }
}

@keyframes portfolioAnimation{
    0%{
        filter: blur(20px)
    }
    100%{
        filter: blur(0)
    }

}

@media only screen and(max-width:1250px){
    .portfolio{
        grid-template-columns: auto auto auto;
}
}
@media only screen and(max-width:940px){
    .portfolio{
        grid-template-columns: auto auto;
    }
    }
@media only screen and(max-width:636px){
    .portfolio{
        grid-template-columns: auto;
        .portfolioCard{
            margin: 2% auto;
            }
        }
        }